# Global ignores (root)

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# .NET build artifacts
**/bin/
**/obj/
**/.vs/
**/Debug/
**/Release/

# Node
node_modules/
**/dist/

# Archives
**/*.zip


