# Global ignores (root)

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# .NET build artifacts
**/bin/
**/obj/
**/.vs/
**/Debug/
**/Release/

# Node
node_modules/
**/dist/

# Archives
**/*.zip


"/CST-407-Application-Security-Foundations/coding/Spring Security/CST-407-RS-T5-Activity-5-Spring-Security-Starting-Code/spring security starting code/" 
