@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact us</h1>
<p>phone: 993899990</p>
<p>email: olindsey4@my.gcu.edu</p>