@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <h1> Operating Hours</h1>

 <h2>Mon-Friday</h2>
 <p>Monday: 7am-5pm</p>
<p>Tuesday: 7am-5pm</p>
<p>Wednesday: 7am-5pm</p>
<p>Thursday: 7am-5pm</p>
 <p>Friday: 7am-5pm</p>