@import url('site.css');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* ----------------------------------------- */
/* Styles for Button Grid Layout */
/* ----------------------------------------- */
.game-button {
    width: 75px;
}

.game-button-image {
    width: 70px;
}

.button-zone {
    display: flex;
    flex-wrap: wrap;
}

.line-break {
    /* Sub property of the flexbox 
        to specify the inital size
        of the flex item
    */
    flex-basis: 100%;
    /* Specify the height of an element */
    height: 0;
}

.button-label {
    font-size: 8px;
    text-align: center;
}
